In [7]:
#data analysis
import numpy as np
import pandas as pd

#visualization
import seaborn as sns
import matplotlib.pyplot as plt
import missingno as msno

In [8]:
df = pd.read_csv("Home_Sale_Data.csv",sep=";")

## __Exploration__

In [9]:
df.head()

,District,Neighborhood,Price,Adrtisement Date,m² (Gross),m² (Net),Number of rooms,Building Age,Floor location,Number of floors,...,Top floor,Garage / Shop Top,Entrance floor,Floor Duplex,Private Entry,Rerse Duplex,Triplex,Ground floor,Roof Duplex,Pick Up Data Time
0,Tuzla,Aydınlı Mh.,165.000 TL,4.01.2020,50,40.0,1+1,5-10 between,5,13,...,0,0,0,0,0,0,0,0,0,1.08.2020
1,Fatih,Katip Kasım Mh.,207.000 TL,6.01.2020,42,42.0,1+1,31 and more than,Ground floor,3,...,0,0,0,0,0,0,0,0,0,1.10.2020
2,Çekmeköy,Çatalmeşe Mh.,153.000 TL,31.12.2019,55,45.0,1+1,1,Kot 1,7,...,0,0,0,0,0,0,0,0,0,1.10.2020
3,Çekmeköy,Mehmet Akif Ersoy Mah.,205.000 TL,29.12.2019,62,46.0,1+1,0,High entrance,5,...,0,0,0,0,0,0,0,0,0,1.10.2020
4,Küçükçekmece,Halkalı Merkez Mh.,150.000 TL,1.01.2020,70,55.0,1+1,5-10 between,Garden Floor,4,...,0,0,0,0,0,0,0,0,0,1.07.2020

__We change column names__

In [10]:
cols=list(df)

In [11]:
for i in range(len(cols)):
    a =cols[i].strip()
    a = cols[i].replace(" ","_")
    cols[i]= a

In [12]:
df.columns = cols
df.index = np.arange(1,len(df)+1)

In [13]:
df.head()

,District,Neighborhood,Price,Adrtisement_Date,m²_(Gross),m²_(Net),Number_of_rooms,Building_Age,Floor_location,Number_of_floors,...,Top_floor,Garage_/_Shop_Top,Entrance_floor,Floor_Duplex,Private_Entry,Rerse_Duplex,Triplex,Ground_floor,Roof_Duplex,Pick_Up_Data_Time
1,Tuzla,Aydınlı Mh.,165.000 TL,4.01.2020,50,40.0,1+1,5-10 between,5,13,...,0,0,0,0,0,0,0,0,0,1.08.2020
2,Fatih,Katip Kasım Mh.,207.000 TL,6.01.2020,42,42.0,1+1,31 and more than,Ground floor,3,...,0,0,0,0,0,0,0,0,0,1.10.2020
3,Çekmeköy,Çatalmeşe Mh.,153.000 TL,31.12.2019,55,45.0,1+1,1,Kot 1,7,...,0,0,0,0,0,0,0,0,0,1.10.2020
4,Çekmeköy,Mehmet Akif Ersoy Mah.,205.000 TL,29.12.2019,62,46.0,1+1,0,High entrance,5,...,0,0,0,0,0,0,0,0,0,1.10.2020
5,Küçükçekmece,Halkalı Merkez Mh.,150.000 TL,1.01.2020,70,55.0,1+1,5-10 between,Garden Floor,4,...,0,0,0,0,0,0,0,0,0,1.07.2020

## __Data Cleaning__

__There are 34843 observations in total__

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34843 entries, 1 to 34843
Columns: 179 entries, District to Pick_Up_Data_Time
dtypes: float64(1), int64(161), object(17)
memory usage: 47.8+ MB

__We change price to integer__

In [15]:
for i in range(1,len(df.Price)+1):
    f = df.Price[i].replace("TL","").replace(".","")
    f = f.strip()
    df.Price[i] = f

<ipython-input-15-3cc21d695f4f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.Price[i] = f

In [16]:
df["Price"] = df['Price'].astype(str).astype(int)

In [17]:
df["Price"].describe()

count    3.484300e+04
mean     7.466317e+05
std      1.429712e+06
min      2.000000e+04
25%      2.790000e+05
50%      4.000000e+05
75%      6.500000e+05
max      4.500000e+07
Name: Price, dtype: float64

__We delete unnecessary columns__

In [18]:
df.drop(columns=["Neighborhood","Adrtisement_Date","Pick_Up_Data_Time"],inplace=True)

In [19]:
df.select_dtypes(include="object").head()

,District,Number_of_rooms,Building_Age,Floor_location,Number_of_floors,Heating,Number_of_bathrooms,Balcony,Furnished,Using_status,Available_for_Loan,From_who,Swap
1,Tuzla,1+1,5-10 between,5,13,Natural Gas (Combi),1,Absent,Yes,Free,Yes,From owner,No
2,Fatih,1+1,31 and more than,Ground floor,3,Floor Heating,1,Absent,No,Free,Yes,From bank,No
3,Çekmeköy,1+1,1,Kot 1,7,Natural Gas (Combi),1,Absent,No,Property owner,Yes,From owner,Yes
4,Çekmeköy,1+1,0,High entrance,5,Natural Gas (Combi),1,Absent,No,Property owner,Yes,From owner,Yes
5,Küçükçekmece,1+1,5-10 between,Garden Floor,4,Natural Gas (Combi),1,Absent,No,Property owner,Yes,From owner,No

__Cleaning other column names__

In [20]:
df["District"] = df["District"].str.strip()
df["Number_of_rooms"] = df["Number_of_rooms"].str.strip()
df["Building_Age"] = df["Building_Age"].str.strip()
df["Floor_location"] = df["Floor_location"].str.strip()
df["Number_of_floors"] = df["Number_of_floors"].str.strip()
df["Heating"] = df["Heating"].str.strip()
df["Number_of_bathrooms"] = df["Number_of_bathrooms"].str.strip()
df["Balcony"] = df["Balcony"].str.strip()
df["Using_status"] = df["Using_status"].str.strip()
df["Available_for_Loan"] = df["Available_for_Loan"].str.strip()
df["From_who"] = df["From_who"].str.strip()

In [21]:
df.rename(columns={"m²_(Net)":"m2_net"},inplace=True)

In [22]:
df.rename(columns={"m²_(Gross)":"m2_gross"},inplace=True)

__Organize same expression in columns__

In [23]:
df.Number_of_rooms.value_counts()

2+1                 15790
3+1                  9853
1+1                  3172
4+1                  2286
4+2                  1021
3+2                   663
5+1                   600
5+2                   422
2+2                   224
Studio (1+0)          170
3.5+1                 117
6+2                   112
6+1                    88
1.5+1                  72
2.5+1                  60
4.5+1                  55
4+3                    38
7+1                    22
2+0                    20
7+2                    14
5+3                     7
4+4                     7
6+3                     6
10 and more than        5
8+2                     4
7+3                     4
8+1                     4
8+4                     2
5+4                     2
10+1                    1
9+2                     1
8+3                     1
Name: Number_of_rooms, dtype: int64

In [24]:
df.loc[df.Number_of_rooms=="10 and more than","Number_of_rooms"] = "10+"
df.loc[df.Number_of_rooms=="8+2","Number_of_rooms"] = "10+"
df.loc[df.Number_of_rooms=="7+3","Number_of_rooms"] = "10+"
df.loc[df.Number_of_rooms=="8+4","Number_of_rooms"] = "10+"
df.loc[df.Number_of_rooms=="8+3","Number_of_rooms"] = "10+"
df.loc[df.Number_of_rooms=="10+1","Number_of_rooms"] = "10+"
df.loc[df.Number_of_rooms=="9+2","Number_of_rooms"] = "10+"

### __Values in Building Age Column__

In [25]:
df.Building_Age.value_counts()

0                    10245
5-10 between          5488
4                     2594
21-25 between         2575
16-20 between         2438
26-30 between         2187
1                     2123
31  and more than     1972
11-15 between         1807
2                     1755
3                     1659
Name: Building_Age, dtype: int64

### __Values in Floor Location Column__

In [26]:
df.Floor_location.value_counts()

3                    4956
2                    4859
1                    4217
4                    4167
Garden Floor         2776
High entrance        2708
5                    2492
Entrance floor       1258
6                    1030
7                     769
8                     557
Kot 1                 515
9                     465
10                    443
Penthouse             396
Kot 2                 335
Ground floor          322
11                    316
12                    285
Kot 3                 280
Basement              256
Kot 4                 232
13                    199
14                    167
15                    132
30  and more than      87
16                     82
18                     79
17                     69
Villa type             64
20                     55
21                     39
Private                39
22                     36
19                     34
25                     27
23                     26
24                     25
26                     17
27                     12
29                     10
28                     10
Name: Floor_location, dtype: int64

__We reduce variety of values in Floor Location column__

In [27]:
for i in range(21,30):
    df.loc[df.Floor_location==str(i),"Floor_location"] = "21-29"

In [28]:
for i in range(16,21):
    df.loc[df.Floor_location==str(i),"Floor_location"] = "16-20"

In [29]:
for i in range(11,16):
    df.loc[df.Floor_location==str(i),"Floor_location"] = "11-15"

In [30]:
df.loc[df.Floor_location=="30  and more than","Floor_location"] = "30+"

In [31]:
for i in range(21,30):
    df.loc[df.Number_of_floors==str(i),"Number_of_floors"] = "21-29"

In [32]:
for i in range(16,21):
    df.loc[df.Number_of_floors==str(i),"Number_of_floors"] = "16-20"

In [33]:
for i in range(11,16):
    df.loc[df.Number_of_floors==str(i),"Number_of_floors"] = "11-15"

In [34]:
df.loc[df.Number_of_floors=="30  and more than","Number_of_floors"] = "30+"

In [35]:
df.Number_of_floors.value_counts()

5        9830
4        9114
3        3576
6        2902
11-15    2576
7        1266
16-20    1013
8         993
10        956
9         849
21-29     636
30+       539
2         459
1         134
Name: Number_of_floors, dtype: int64

### __Values in Number of Bathrooms column__

In [36]:
df.Number_of_bathrooms.value_counts()

1                  21308
2                  11449
3                   1656
4                    305
Absent                60
5                     50
6                     10
6 and more than        5
Name: Number_of_bathrooms, dtype: int64

In [37]:
df.loc[df.Number_of_bathrooms=="6 and more than","Number_of_bathrooms"] = "6+"

In [38]:
df.loc[df.Number_of_bathrooms=="Absent","Number_of_bathrooms"] = "0"

In [39]:
df.Number_of_bathrooms.value_counts()

1     21308
2     11449
3      1656
4       305
0        60
5        50
6        10
6+        5
Name: Number_of_bathrooms, dtype: int64

### __Values in Using Status Column__

In [42]:
df.Using_status.value_counts()

Free              19441
Property owner     8137
Tenant             7265
Name: Using_status, dtype: int64

### __Values in Available for Loan Column__

In [75]:
df.Available_for_Loan.value_counts()

Yes        30257
No          4051
Unknown      535
Name: Available_for_Loan, dtype: int64

In [76]:
df.loc[df.Available_for_Loan=="Unknown","Available_for_Loan"] = "No"

### __Values in Heating Column__

In [77]:
df.Heating.value_counts()

Natural Gas (Combi)     26715
Center (Share Meter)     5304
Central system           1388
Underfloor heating        437
Naturel gas Stovesı       390
Floor Heating             195
Absent                    158
Stove                     113
Climate                    51
Fancoil Ünitesi            31
VRV                        28
Jeotermal                  15
Fancoil ünitesi            10
Fireplace                   5
Solar energy                2
Heat pump                   1
Name: Heating, dtype: int64

__We aggregate the same expression__

In [78]:
df.loc[df.Heating=="Fancoil ünitesi","Heating"] = "Fancoil Ünitesi"
df.loc[df.Heating=="Floor Heating","Heating"] = "Underfloor heating"

### __Values in Balcony Column__

In [79]:
df.Balcony.value_counts()

Available    27775
Absent        7063
Unknown          5
Name: Balcony, dtype: int64

In [80]:
df.loc[df.Balcony=="Unknown","Balcony"] = "Absent"

### __Values in From who Column__

In [81]:
df.From_who.value_counts()

From the real estate office      28824
From owner                        3241
From the construction company     2628
From bank                          150
Name: From_who, dtype: int64

### __Values in Swap Column__

In [44]:
df.Swap.value_counts()

No     28407
Yes     6436
Name: Swap, dtype: int64

### __Values in Furnished Column__

In [83]:
df.Furnished.value_counts()

No         32658
Yes         1365
Unknown      820
Name: Furnished, dtype: int64

__we change the "Unknown" to "No"__

In [84]:
df.loc[df.Furnished =="Unknown","Furnished"] = "No"

In [85]:
df.index=np.arange(1,len(df)+1)

In [86]:
df.to_csv("1_cleaned.csv",index_label=False)